.about{
  margin: 0 auto;
  max-width: 1020px;
  &-header{
    margin: 2rem auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr repeat(2,2rem) 1fr;
    img {
      border-radius: 50%;
      &:first-child{
        grid-column: 1/4;
        grid-row: 1 / 2;
      }
      &:last-child{
        grid-column: 2/5;
        grid-row: 1 / 2;
      }
    }
  }
  &-info{
    @extend .u-message;
    width: 80%;
    margin: 4rem auto;
    text-align: left;
  }
  &-flow{
    width: 90%;
    margin: 2rem auto;
    div{
      margin-bottom: 4rem;
      display: grid;
      grid-template-columns: 3rem 1fr;
      grid-template-rows: repeat(2,auto);
      grid-template-areas:
      'h2 h3'
      '. p';
      align-items: baseline;
    }
  }
  h2{
    grid-area: h2;
    color: var(--title-color);
    font-size: 10vw;
    @include from(l){
      font-size: 5rem;
    }
  }
  h3{
    grid-area: h3;
    color: var(--title-color);
    font-size: 5vw;
    @include from(l){
      font-size: 2.5rem;
    }
  }
  p {
    grid-area: p;
    font-size: 4vw;
    @include from(s){
      font-size: 3.5vw;
    }
    @include from(m){
      font-size: 3vw;
    }
    @include from(l){
      font-size: 1.5vw;
    }
  }
}
