.admin{
  // padding: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(-1 * var(--header-height));
  @include from(m){
    margin-top: 0;
  }
  &-auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    > * {
      width: 80%;
    }
    @include from(m){
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      > * {
        width: 40%;
      }
    }
  }
  &-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      max-width: 150px;
      border-radius: 50%;
    }
  }
}



.sign-btn{
  @extend .u-btn;
  @extend .u-message;
  max-width: 50%;
}

.contact{
  margin: 0 auto;
  max-width: 80%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(-1 * var(--header-height));
  @include from(m){
    margin-top: 0;
  }
  form{
    width: 100%;
  }
}
