.form{
  text-align: center;
  * {
    margin-bottom: .5rem;
  }
  input[type="text"],
  input[type="email"],
  textarea{
    padding: .5rem;
    width: 100%;
    display: block;
    border: thin solid var(--alternate-color);
    border-radius: 1rem;
    font-size: 1em;
    transform: all .3s ease-out;
  }
  input[type="submit"]{
    @extend .u-message;
    @extend .u-btn;
  }
  progress {
    margin-bottom: 1rem;
    appearance: none;
    border: 0;
    width: 100%;
    height: 2rem;
    + span {
      @extend .u-message;
      display: block;
    }
  }
  &-uploader{
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      padding-left: .5rem;
      width: 15%;
    }
    input[type="file"]{
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      cursor: pointer;
      opacity: 0;
    }
    input[type="text"]{
      display: block;
      border-radius: 0;
      width: 100% ;
    }
  }
}
