.header{
  position: fixed;
  z-index: 998;
  top: 0;
  padding: .5rem;
  background: var(--second-color);
  width: 50%;
  height: 100vh;
  margin-left: -100vw;
  transition: all .3s;
  &.is-active{
    margin-left: 0;
  }

}
.hamburger{
  position: fixed;
  z-index: 999;
  top: var(--logo-spacing);
  right: var(--logo-spacing);
  width: var(--logo-width);
  height: var(--logo-width);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--second-color);
  &:focus{
    border: 0;
    outline: 0;
  }
}
.hamburger-inner{
  background-color:var(--link-color) !important;
  width:100%;
  &::after,&::before{
    width:100%;
    background-color:var(--link-color) !important;
  }
}

.icon-menu{
  @include from(m){
    display: none;
  }
}
@include from(m){
  body{
    display: flex;
  }
  .header{
    margin-left: 0;
    width: 40%;
    // max-width: 500px;
  }
  .main{
    margin-left: 40%;
  }
}

@include from(l){
  .header{
    width: 500px;
  }
  .main{
    // background: #000;
    margin-left: 500px;
  }
}
