.header__logo{
  position: fixed;
  z-index: 999;
  top: var(--logo-spacing);
  left: var(--logo-spacing);
  padding: var(--logo-spacing);
  width: var(--logo-width);
  height: var(--logo-height);
  border-radius: 50%;
  background-color: var(--alternate-color);
}
.header__title{
  margin: 2rem 0;
  margin-top: calc(var(--logo-height) + 2rem);
  font-size: 4vw;
  color: var(--main-color);
  * {
    margin-bottom: .5rem;
  }
  small{
    text-transform: uppercase;
  }
  @include from(m){
    font-size: 1.5rem;
  }
}
