.main{
  padding: 0 .5rem;
  padding-top: var(--header-height);
  width: 100%;
  min-height: 100vh;
  transition: margin-left .3s ease, width .3s ease;
  &.is-active{
    margin-left: 50%;
    width: 50%; // esto es la magia
  }
  @include from(m){
    padding-top: 0;
  }
}
