.main-menu__nav{
  margin-bottom: 2rem;
  text-align: right;
  font-size: 5vw;
  @include from(m){
    font-size: 2.5rem;
  }
}
.main-menu__ul{

}
.main-menu__item{

}
.main-menu__link{
  padding-right: .5rem;
  display: block;
  &:hover{
    color: var(--main-color);
    background-color: var(--alternate-color) ;
  }
}
