.photos{
  @extend .u-responsiveGrid;
  figure{
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color:var(--border-color);
    display: block;
  }
  figcaption{
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 4vw;
    color: var(--alternate-color);
    background-color: var(--second-color);
    @include from(m){
      font-size: 1.5rem;
    }
  }
}
