:root {
  --main-font: sans-serif;
  --alternate-font: sans-serif;
  --font-size: 16px;
  --line-height: 1.6;

  --main-color: #FFF;
  --main-modal-color: rgb(255, 255, 255, .75);
  --second-color: #000;
  --second-modal-color: rgba(0, 0, 0, .75);
  --alternate-color: #39B54A;
  --alternate-modal-color: rgb(57, 181, 74, .75);

  --bg-color: var(--main-color);
  --bg-modal-color: var(--main-modal-color);
  --bg-alternate-color: #999;
  --bg-alternate-modal-color: rgba(153, 153, 153, .75);
  --border-color: #DDD;

  --text-color: #242424;
  --title-color: #333;

  --link-color: var(--alternate-color);
  --link-hover-color: var(--alternate-modal-color);

  --max-width: 1200px;
  --header-height: 5rem;

  --logo-width: 4rem;
  --logo-height: 4rem;
  --logo-spacing: .5rem;
}

/* ********** Variables ********** */
$breakpoints: (
  xs: 30rem, /* 480 / 16  */
  s: 37.5rem, /* 600 / 16  */
  m: 45rem, /* 720 / 16 */
  l: 64rem, /* 1024 / 16 */
  xl: 75rem /* 1200/ 16 */
);
