.icon-menu#icon-menu
  <button class="hamburger hamburger--spin" type="button">
      <span class="hamburger-box">
          <span class="hamburger-inner"></span>
      </span>
  </button>
header.header#header
  section.l-container
  <div class="header__logo">
    <img src="img/logo.svg" alt="Fotógrafo Independiente">
  </div>
  .header__title
    h1 Thom Maurick
    h2 #[small Fotógrafo independiente]
  include main-menu
  include ../includes/social-media
  <footer class="header__footer">
    small.
      &copy;
      <span class="header__footer-year"></span>
  </footer>
