//- include ../config/variables
nav.main-menu__nav(itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation")#main-menu__nav
  ul.main-menu__ul
    - for(let page of global.pages)
      li.main-menu__item(itemprop="url")
          a.main-menu__link(href=page.url itemprop="name" id=page.id)= page.title
            - if(page.child.length > 0)
                ul
                  - for( let page2 of page.child)
                      li: a(href= page2.url)= page2.title
