<nav class="social-media">
  <a href="#" target="_blank">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="#" target="_blank">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="#" target="_blank">
    <i class="fab fa-youtube"></i>
  </a>
  <a href="#" target="_blank">
    <i class="fab fa-whatsapp"></i>
  </a>
  <a href="#" target="_blank">
    <i class="fab fa-github"></i>
  </a>
</nav>
