.u-responsiveGrid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.u-responsiveFlexbox {
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex: 1 1 200px;
  }
}

.u-message {
  font-size: 4vw;
  font-weight: bold;
  text-align: center;

  @include from(m) { font-size: 1.5rem; }
}
.u-none{
  display: none;
}

.delete-photo{
  cursor: pointer;
  background-color: var(--alternate-color);
  color:white;
  display: inline-block;
  padding: 0 .5rem;
}

.u-btn{
  background:var(--alternate-color);;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.5em;
  padding: .5rem 1rem;
}
