*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
img {
    display: block;
    // width: 100%;
    max-width: 100%;
    height: auto;
}

ul,li,a{
    text-decoration: none;
    list-style: none;
}
html {
  box-sizing: border-box;
  font-family: var(--main-font), var(--alternate-font);
  font-size: var(--font-size);
  line-height:  var(--line-height);
  color: var(--text-color);
  background-color: var(--bg-modal-color);
}

body { overflow-x: hidden; }

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--link-color);
  transition: all .3s ease-out;

  &:hover { color: var(--link-hover-color); }
}
