- global.pageTitle = 'Home'
- global.siteName = 'EDboilerplate'
- global.twitterAccount = '@edteamlat'
- global.pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
- global.pageImage = ''
-
  global.pages = [
    {
      title: 'Home',
      id:"home",
      url: '#',
      child: []
    },
    {
      title: 'About',
      id:"about",
      url: '#',
      child: []
    },
    {
      title:'Contact',
      id:'contact',
      url:"#",
      child:[]
    },
    {
      title : 'Admin',
      id:'admin',
      url:"#",
      child:[]
    }
  ]
