/// Transforma un valor en pixeles a em.
/// @group   functions
/// @author  Thom Maurick
/// @param   {number} $el - el valor en pixeles que se desea convertir.
/// @param   {number} $context - el valor en pixeles del contenedor.
/// @return  {number} el tamaño transformado en em.
@function em($el,$context:16px) {
  @if type_of($el) == number and unit($el) == 'px' {
    @return ($el / $context) * 1em;
  } @else {
    @error 'Function em() requires a px unit as first argument / La función em() requiere una unidad de pixeles como primer argumento (el segundo es opcional)';
  }
}

/// Transforma un valor en pixeles a rem.
/// @group   functions
/// @author  Thom Maurick
/// @param   {number} $el - el valor en pixeles que se desea convertir.
/// @return  {number} el tamaño transformado en rem.
@function rem($el) {
  @if type_of($el) == number and unit($el) == 'px' {
    @return ($el / 16px) * 1rem;
  } @else {
    @error 'Function rem() requires a px unit as argument / La funcion rem() requiere una unidad de pixeles como argumento';
  }
}



/// Devuelve true si el breakpoint es parte del core
/// @group functions
/// @author  Thom Maurick
/// @param   {number} $bp - breakpoint
/// @example scss
///    .elemento {
///      @if isCoreBreakpoint(l) {
///        $customBp : 720px;
///        ....
///      }
///    }
@function isCoreBreakpoint($bp){
  @if map-get($breakpoints,$bp) {
    @return true;
  }
  @return false;
}
/// Devuelve true si el breakpint es válido (em, rem, px)
/// @group   functions
/// @author  Thom Maurick
/// @param   {number} $bp - breakpoint a verificar.
@function isValidBreakpoint($bp){
  @if type-of($bp) == number and (unit($bp) == 'px' or unit($bp) == 'em' or unit($bp) == 'rem') {
    @return true;
  }
  @return false;
}
/// Obtiene un breakpoint del core
/// @group   functions
/// @author Thom Maurick
/// @param   {number} $bp - breakpoint a obtener.
@function getBp($bp){
  @return map-get($breakpoints,$bp);
}


/// Convierte un valor en em o rem a px
/// @group   functions
/// @author  Thom Maurick
/// @param   {number} $value - var a convertir a pixeles.
@function toPx($value){
  @if type-of($value) == number {
    @if unit($value) == 'em'{
      @return ($value / 1em) * 16px;
    } @else if unit($value) == 'rem'{
      @return ($value / 1rem) * 16px;
    } @else if unit($value) == 'px' {
      @return $value;
    } @else {
      @error "La funcion toPx() solo acepta numeros en em o rem o px";
    }
  } @else {
    @error "La funcion toPx() solo acepta numeros en em o rem";
  }
}
