
/// From (mayor que $bp)
/// @group   mixins
/// @author  Thom Maurick
/// @param   {number} $from - breakpoint
/// @example scss
///     .elemento {
///       width: 30%;
///       @include from(m) {
///         width: 50%;
///       }
///     }
@mixin from($from){
  // Si el bp es del core de EDgrid
  @if isCoreBreakpoint($from){
    // no imprime media query para tamaño s
    @if $from == s {
      @content;
    }
    // imprime media query en los otros tamaños
    @else {
      @media screen and (min-width: getBp($from)){
        @content;
      }
    }
  }
  // Si el bp no es del core de EDgrid pero es una unidad válida
  @else if isValidBreakpoint($from){
    @media screen and (min-width: $from){
      @content;
    }
  }
  // Error
  @else {
    @error 'El mixin from() solo puede recibir un breakpoint del Core (#{map-keys($breakpoints)}) o un número en px, em o rem';
  }
}


/// To (es menor que $to)
/// @group   mixins
/// @author  Thom Maurick
/// @param   {number} $to - breakpoint
/// @example scss
///     .elemento {
///       width: 50%;
///       @include to(m) {
///         width: 30%;
///       }
///     }
@mixin to($to){
  // Si es un breakpoint del core
  @if isCoreBreakpoint($to){
    @if $to == s {
      @content;
    } @else {
      @media screen and (max-width : getBp($to) - 1px) { @content; }
    }
  }
  // Si es un breakpoint válido (px, em, rem)
  @else if isValidBreakpoint($to){
    @media screen and (max-width: toPx($to) - 1px){ @content; }
  }
  // Si no es un breakpoint válido lanzar error
  @else {
    @error 'El mixin to() solo puede recibir un breakpoint del Core (#{map-keys($breakpoints)}) o un número en px, em o rem';
  }
}

/// fromTo la regla se ejecuta entre ambos breakpoints.
/// @group   mixins
/// @author  Maurick Thom
/// @param   {number} $from - breakpoint desde que medida se iniciara la regla.
/// @param   {number} $to - breakpoint hasta que medida se ejecutara la regla.
/// @example scss
///     .elemento {
///       background-color: cyan;
///       @include fromTo(s, l) {
///         background-color: darken(cyan, .8);
///       }
///     }
@mixin fromTo($from,$to){
  // Si ambos son breakpoints del core
  @if isCoreBreakpoint($from) and isCoreBreakpoint($to){
    @if getBp($to) > getBp($from) {
      @media screen and (min-width : getBp($from)) and (max-width : getBp($to) - 1px) {
        @content;
      }
    } @else {
      @error "El segundo argumento del mixin fromTo debe ser mayor que el primero";
    }
  }

  // Si solo $from es breakpoint del core
  @else if isCoreBreakpoint($from) and not isCoreBreakpoint($to){
    @if isValidBreakpoint($to) {
      @if toPx($to) > toPx(getBp($from)) {
        @media screen and (min-width : getBp($from)) and (max-width : toPx($to) - 1px) {
          @content;
        }
      } @else {
        @error "El segundo argumento del mixin fromTo debe ser mayor que el primero";
      }
    } @else {
      @error "El segundo argumento del mixin fromTo() debe ser un breakpoint del Core (#{map-keys($breakpoints)}) o un número en px, em o rem";
    }
  }

  // Si solo $to es breakpoint del core
  @else if not isCoreBreakpoint($from) and isCoreBreakpoint($to) {
    @if isValidBreakpoint($from) {
      @if toPx(getBp($to)) > toPx($from){
        @media screen and (min-width : $from) and (max-width : getBp($to) - 1px) {
          @content;
        }
      } @else {
        @error "El segundo argumento del mixin fromTo debe ser mayor que el primero";
      }
    }
    @else {
      @error "El primer argumento del mixin fromTo() debe ser un breakpoint del Core (#{map-keys($breakpoints)}) o un número en px, em o rem";
    }
  }

  // Si no son breakpoints del core pero son breakpoints válidos (px, em, rem)
  @else if isValidBreakpoint($from) and isValidBreakpoint($to){
    @if toPx($to) > toPx($from) {
      @media screen and (min-width : $from) and (max-width : toPx($to) - 1px) {
        @content;
      }
    } @else {
      @error "El segundo argumento del mixin fromTo debe ser mayor que el primero";
    }
  }

  // Si al menos hay un breakpoint inválido
  @else {
    @error 'Los argumentos del mixin fromTo() deben ser breakpoints del Core (#{map-keys($breakpoints)}) o números en px, em o rem';
  }
}
